html, body {
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

/* App Container CSS */
.app {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-between; 
    justify-content: space-between;

    height: 100vh;
    /*display: grid;
    grid-template-rows: 20% 80%;*/
    display: flex;
    flex-direction: column;
    
}

/* Control Bar CSS*/
.control-bar {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    background-color: rgb(63, 102, 27);
    color: white;
    /*padding: 10px;*/

    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;

    font-size: 10px;
    
}

.control-bar-selectors {
    font-size: 1.5em;
    margin: 0.5em;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    display: flex;
    width: 11.5em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }

 .select-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;

     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .select-label {
     color: white;
     font-size: 15px;
     padding: 5px;
 }

.button {
 padding: 0.3em 1.2em;
 margin: 0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:1000;
 font-size: 13px;
 color:#FFFFFF;
 background-color:#8e66ee;
 text-align:center;
 transition: all 0.2s;
}

.button:hover{
    background-color:#6622a5;
}

.effect-1{
    border: 0; 
    padding: 7px 0; 
    border-bottom: 2px solid rgb(196, 103, 103);
    background-color: teal;
}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: rgb(225, 230, 236); transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }

/* Board CSS */
.board-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    flex-grow: 1;

    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;

    margin: 5em;
    padding: 5em;
}

.board {
    background-color: whitesmoke;
    border: 1px solid rgb(240, 194, 194);
    margin: 10px;
}

.grid-row {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    display: flex;
}

/* Node CSS */
.node-div {
    height: 3vh;
    width: 1.5vw;
    background-color: whitesmoke;
    border: 1px solid rgb(252, 223, 223);
    margin: 0;
}

.start-hover {
    background-color: green;
}

.end-hover {
    background-color: red;
}

.wall-hover {
    background-color: rgb(63, 63, 63);
    animation-name: wall-animation;
}

.start-node {
    /*background-color: green;*/
}

#start-point {
    background-color: green;
    height: 3vh;
    width: 1.5vw;
}
#end-point {
    background-color: red;
    height: 3vh;
    width: 1.5vw;
}

.end-node {
    /*background-color: red;*/
}

.wall-node {
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(63, 63, 63);
    animation-name: wall-animation;
    animation-duration: 0.5s;
}

@keyframes wall-animation {
    50% {transform: scale(1.2, 1.2)}
}

.visited-node {
    background: turquoise;
    border-radius: 0%;
    animation-name: visited-animation;
    animation-duration: 2s;
}

@keyframes visited-animation {
    0% 
    {
        background-color: whitesmoke;
    }

    50% 
    {
        background-color: greenyellow;
        transform: scale(1.1, 1.1);
    }

    100% 
    {
        background-color: turquoise;
    }
}

.path-node {
    background: rgb(203, 87, 238);
    animation-name: path-animation;
    animation-duration: 2s
}

@keyframes path-animation {
    0% {background-color: whitesmoke}
    50% {transform: scale(1.1, 1.1)}
    100% {background-color: rgb(203, 87, 238)}
}